body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fafafa;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
.textarea{
    resize:none !important;
    font-family: system-ui;
    padding: 8px;
}
.relative {
    position: relative;
}

.AdminUser:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    background: #e6faed;
}

.add-icon-button{
    background-color: #5dd886 !important;
    color: #ffffff !important;
}

.add-icon-button:hover{
    background-color: rgba(93, 216, 134, 0.75) !important;
    color: #ffffff !important;
}
